<view id="system-business-app">
    <title>应用管理</title>


    <div class="layui-card layadmin-header">
        <div class="layui-breadcrumb">
            <a lay-href="">运营管理</a>
            <a><cite>应用管理</cite></a>
        </div>
    </div>

    <div class="layui-fluid">

        <div class="layui-card">
            <div class="layui-card-header">大数据统计
            </div>
            <div class="layui-card-body">

                <div class="layadmin-backlog">
                    <div>
                        <ul class="layui-row layui-col-space10">

                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>正在运行</h3>
                                    <p><cite class="app_running_count" style="color: #07bd03;">...</cite>
                                    </p>
                                </div>
                            </li>

                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>停止运行</h3>
                                    <p><cite class="app_stop_count" style="color: #07bd03;">...</cite>
                                    </p>
                                </div>
                            </li>

                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>全部应用</h3>
                                    <p><cite class="app_all_count" style="color: #07bd03;">...</cite>
                                    </p>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-card">
            <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title">
                    <li class="layui-this">所有应用</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <form class="query"></form>
                        <div style="margin-bottom: 10px;">
                            <button class="layui-btn layui-btn-primary layui-btn-sm create">
                                创建应用
                            </button>
                            <button class="layui-btn layui-btn-primary layui-btn-sm start">
                                启用选中
                            </button>
                            <button class="layui-btn layui-btn-primary layui-btn-sm stop">
                                停用选中
                            </button>
                            <button class="layui-btn layui-btn-primary layui-btn-sm del">
                                删除选中
                            </button>
                        </div>

                        <table id="system-business-app-table" lay-filter="system-business-app-table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</view>


<script>
    layui.use(['hex'], function () {
        var $ = layui.$, hex = layui.hex, tableInstance, saveUrl = '/admin/app/saveApp';
        let appInterface = $('#system-business-app');

        let modal = (values = {}) => {
            hex.popup(saveUrl, [
                {title: "选择用户", name: "user_id", type: "remoteSelect", dict: "user,id,user", placeholder: "搜索用户"},
                {title: "应用名称", name: "name", type: "input", placeholder: "请输入应用名称"},
                {title: "备注", name: "remark", type: "input", placeholder: "可留空"},
                {title: "状态", name: "status", type: "switch", text: "启用"},
                {title: "默认应用", name: "default", type: "switch", text: "启用", default: 1}
            ], res => {
                tableInstance.instance.reload();
            }, values);
        }

        tableInstance = hex.renderTable('system-business-app-table', '/admin/app/getApps', '#system-business-app-table', [[
            {
                type: 'checkbox', fixed: 'left'
            }
            , {
                field: 'id', title: 'ID',width: 75
            }
            , {
                field: 'name', title: '应用名称', edit: "text", width: 100
            }
            , {
                field: 'remark', title: '备注', edit: "text", width: 100
            }
            , {
                field: 'secret', title: '应用密钥', width: 100
            }
            , {
                field: 'order_today_amount', title: '今日收款', templet: function (item) {
                    if (item.user && item.user.type == 1) {
                        return '-';
                    }
                    return '<span style="color: red;">' + item.order_today_amount + '</span>';
                }, width: 100
            }
            , {
                field: 'order_yesterday_amount', title: '昨日收款', templet: function (item) {
                    if (item.user && item.user.type == 1) {
                        return '-';
                    }
                    return '<span style="color: #00bd67;">' + item.order_yesterday_amount + '</span>';
                }, width: 100
            }
            , {
                field: 'order_all_amount', title: '总收款', templet: function (item) {
                    if (item.user && item.user.type == 1) {
                        return '-';
                    }
                    return '<span style="color: #ffac15;">' + item.order_all_amount + '</span>';
                }, width: 100
            }
            , {
                field: 'user_id', title: '所属用户', templet: function (item) {
                    if (item.user == null) {
                        return '-';
                    }
                    return '<span style="color: red;">' + item.user.user + '</span>';
                }, width: 100
            }
            , {
                field: 'ca_collecting_count', title: '正在收款', width: 90, templet: function (item) {
                    if (item.user && item.user.type != 1) {
                        return '-';
                    }
                    return '<span style="color: green;">' + item.ca_collecting_count + '</span>';
                }
            }
            , {
                field: 'ca_ready_count', title: '已就绪', width: 85, templet: function (item) {
                    if (item.user && item.user.type != 1) {
                        return '-';
                    }
                    return '<span style="color: green;">' + item.ca_ready_count + '</span>';
                }
            }
            , {
                field: 'ca_activated_count', title: '已启用', width: 85, templet: function (item) {
                    if (item.user && item.user.type != 1) {
                        return '-';
                    }
                    return '<span style="color: green;">' + item.ca_activated_count + '</span>';
                }
            }
            , {
                field: 'ca_terminated_count', title: '已停用', width: 85, templet: function (item) {
                    if (item.user && item.user.type != 1) {
                        return '-';
                    }
                    return '<span style="color: green;">' + item.ca_terminated_count + '</span>';
                }
            }
            , {
                field: 'ca_all_count', title: '全部账号', width: 90, templet: function (item) {
                    if (item.user && item.user.type != 1) {
                        return '-';
                    }
                    return '<span style="color: green;">' + item.ca_all_count + '</span>';
                }
            }
            , {
                field: 'create_date', title: '创建时间', width: 160
            }
            , {
                field: 'status', title: '状态', dictType: "switch", dictText: "启用", width: 110
            }
            ,
            {
                templet: function (item) {
                    let html = '<button class="layui-btn layui-btn-xs layui-btn-normal edit" data-id="' + item.id + '"><i class="layui-icon layui-icon-survey"></i>修改</button>';
                    return html;
                }
            }
        ]], res => {

            appInterface.find('.app_running_count').html(res.app_running_count);
            appInterface.find('.app_stop_count').html(res.app_stop_count);
            appInterface.find('.app_all_count').html(res.app_all_count);

            hex.setIdMap(res.data);

            $('#system-business-app .edit').click(function () {
                let map = hex.getMapItem(this);
                map.user_id = {name: map.user.user, value: map.user.id, selected: true};
                modal(map);
            });
        }, saveUrl);


        $('#system-business-app .create').click(() => {
            modal();
        });

        $('#system-business-app .del').click(() => {
            var data = hex.listObjectToArray(tableInstance.table.checkStatus('system-business-app-table').data);
            hex.deleteBatchEntity('/admin/app/delApp', data, res => {
                tableInstance.instance.reload();
            });
        });

        $('#system-business-app .start').click(() => {
            var data = hex.listObjectToArray(tableInstance.table.checkStatus('system-business-app-table').data);
            data.forEach(id => {
                admin.req({
                    url: saveUrl,
                    method: "post",
                    data: {id: id, status: 1}
                });
            });
            tableInstance.instance.reload();
            layer.msg('启用完成..');
        });

        $('#system-business-app .stop').click(() => {
            var data = hex.listObjectToArray(tableInstance.table.checkStatus('system-business-app-table').data);
            data.forEach(id => {
                admin.req({
                    url: saveUrl,
                    method: "post",
                    data: {id: id, status: 0}
                });
            });
            tableInstance.instance.reload();
            layer.msg('停用完成..');
        });

        hex.query('#system-business-app .query', tableInstance.instance, [
            {title: "应用名称", name: "equal-name", type: "input", width: 151},
            {title: "备注", name: "search-remark", type: "input", width: 151},
            {title: "选择用户", name: "equal-user_id", type: "remoteSelect", dict: "user,id,user", width: 151},
            {title: "选择状态", name: "equal-status", type: "select", dict: "common_switch_status", width: 151},
            {title: "应用类型", name: "equal-type", type: "select", dict: "business_user_type", width: 151}
        ],true);
    });
</script>