<view id="system-business-user-rate">
    <title>用户费率</title>

    <div class="layui-card layadmin-header">
        <div class="layui-breadcrumb">
            <a lay-href="">用户管理</a>
            <a><cite>用户费率</cite></a>
        </div>
    </div>

    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-tab layui-tab-brief">
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <table id="system-business-user-rate-table"
                               lay-filter="system-business-user-rate-table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</view>


<script>
    layui.use(['hex'], function () {
        var $ = layui.$, hex = layui.hex, tableInstance, saveUrl = '/admin/user/saveChannelRate',
            userId = hex.get('userId'), userType = hex.get('userType');
        var appInterface = $('#system-business-user-rate');

        let options = [
            {
                field: 'id', title: '通道ID', width: 110
            }
            , {
                field: 'name', title: '通道名称', width: 110
            },
            {
                title: '授权', width: 110, templet: function (d) {
                    let authorization = 0;

                    if (d.rates[0] != null) {
                        authorization = d.rates[0].authorization;
                    }
                    return '<input title="授权" class="authorization-' + d.id + '" type="checkbox" value="1" ' + (authorization === 1 ? "checked" : "") + ' style="width: 55px;border: none;">';
                }
            },
            {
                title: '上级抽成', width: 90, templet: function (d) {
                    let agent_rate = 0;

                    if (d.rates[0] != null) {
                        agent_rate = d.rates[0].agent_rate;
                    }
                    return '<input class="agent-rate-input-' + d.id + '" type="text" value="' + agent_rate + '" style="width: 55px;border: none;">';
                }
            }
        ];

        if (userType == 1) {
            options.push({
                title: '码商费率', width: 90, templet: function (d) {
                    let beneficiary_rate = 0;

                    if (d.rates[0] != null) {
                        beneficiary_rate = d.rates[0].beneficiary_rate;
                    }
                    return '<input class="beneficiary-rate-input-' + d.id + '" type="text" value="' + beneficiary_rate + '" style="width: 55px;border: none;">';
                }
            });
        }

        if (userType == 0) {
            options.push({
                title: '商户费率', width: 90, templet: function (d) {
                    let merchant_rate = 0;

                    if (d.rates[0] != null) {
                        merchant_rate = d.rates[0].merchant_rate;
                    }
                    return '<input class="merchant-rate-input-' + d.id + '" type="text" value="' + merchant_rate + '" style="width: 55px;border: none;">';
                }
            });
        } else {
            options.push({
                title: '商户费率', width: 90, templet: function (d) {
                    let onself_rate = 0;

                    if (d.rates[0] != null) {
                        onself_rate = d.rates[0].onself_rate;
                    }
                    return '<input class="onself-rate-input-' + d.id + '" type="text" value="' + onself_rate + '" style="width: 55px;border: none;">';
                }
            });
        }

        if (userType == 0 || userType == 2) {
            options.push({
                title: '单笔最小', width: 90, templet: function (d) {
                    let value = 0;

                    if (d.rates[0] != null) {
                        value = d.rates[0].min;
                    }
                    return '<input class="merchant-min-input-' + d.id + '" type="text" value="' + value + '" style="width: 55px;border: none;">';
                }
            });
            options.push({
                title: '单笔最大', width: 90, templet: function (d) {
                    let value = 0;

                    if (d.rates[0] != null) {
                        value = d.rates[0].max;
                    }
                    return '<input class="merchant-max-input-' + d.id + '" type="text" value="' + value + '" style="width: 55px;border: none;">';
                }
            });

            options.push({
                title: '固定金额', width: 110, templet: function (d) {
                    let fixed = 0;

                    if (d.rates[0] != null) {
                        fixed = d.rates[0].fixed;
                    }
                    return '<input title="开启" class="fixed-' + d.id + '" type="checkbox" value="1" ' + (fixed === 1 ? "checked" : "") + ' style="width: 55px;border: none;">';
                }
            });
            options.push({
                title: '金额列表', width: 140, templet: function (d) {
                    let value = 0;

                    if (d.rates[0] != null) {
                        value = d.rates[0].list;
                    }
                    return '<input class="merchant-list-input-' + d.id + '" type="text" value="' + value + '" style="width: 110px;border: none;">';
                }
            });
        }

        options.push({
            templet: function (d) {
                let html = '<button type="button" class="layui-btn layui-btn-xs rate-save" data-id="' + d.id + '"><i class="layui-icon layui-icon-util"></i>保存</button>';
                if (d.type == 0) {
                    html += '<button type="button" class="layui-btn layui-btn-xs sub-rate  layui-btn-normal" data-id="' + d.id + '"><i class="layui-icon layui-icon-snowflake"></i>子通道费率设置</button>';
                }
                return html;
            }
        });

        tableInstance = hex.renderTable('system-business-user-rate-table', '/admin/user/getChannelRates?userId=' + userId, '#system-business-user-rate-table', [options], res => {
                appInterface.find('.rate-save').click(function () {
                    var id = $(this).attr('data-id'),
                        merchant_rate = appInterface.find('.merchant-rate-input-' + id).val(),
                        beneficiary_rate = appInterface.find('.beneficiary-rate-input-' + id).val(),
                        agent_rate = appInterface.find('.agent-rate-input-' + id).val(),
                        onself_rate = appInterface.find('.onself-rate-input-' + id).val(),
                        authorization = appInterface.find('.authorization-' + id).prop("checked") === false ? 0 : 1,
                        fixed = appInterface.find('.fixed-' + id).prop("checked") === false ? 0 : 1,
                        list = appInterface.find('.merchant-list-input-' + id).val(),
                        min = appInterface.find('.merchant-min-input-' + id).val(),
                        max = appInterface.find('.merchant-max-input-' + id).val();

                    admin.req({
                        url: "/admin/user/saveChannelRate",
                        method: "POST",
                        data: {
                            userId: userId,
                            channelId: id,
                            merchantRate: merchant_rate,
                            beneficiaryRate: beneficiary_rate,
                            onselfRate: onself_rate,
                            authorization: authorization,
                            agentRate: agent_rate,
                            fixed: fixed,
                            list: list,
                            min: min,
                            max: max
                        },
                        done: function (res) {
                            layer.msg(res.msg);
                        }
                    });
                });

                appInterface.find('.sub-rate').click(function () {
                    let id = hex.getObjectId(this);
                    hex.set('channelId', id);
                    hex.set('userId', userId);
                    hex.set('userType', userType);
                    hex.remoteViewOpen('module/src/views/business/subRate.html', '子通道费率管理', ['1110px', '590px']);
                });
            }, null, 480
        );
    });
</script>