<view id="system-safety-blockIp">
    <title>风控管理</title>

    <div class="layui-card layadmin-header">
        <div class="layui-breadcrumb">
            <a lay-href="">风控管理</a>
            <a><cite>IP黑名单</cite></a>
        </div>
    </div>

    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title">
                    <li class="layui-this">所有黑名单中的IP</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div style="margin-bottom: 10px;">
                            <button class="layui-btn layui-btn-primary layui-btn-sm create">
                                添加黑名单
                            </button>

                            <button class="layui-btn layui-btn-primary layui-btn-sm del">
                                解除黑名单
                            </button>

                            <button class="layui-btn layui-btn-primary layui-btn-sm remove">
                                解除指定IP
                            </button>

                        </div>

                        <table id="system-safety-blockIp-table" lay-filter="system-safety-blockIp-table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</view>


<script>
    layui.use(['hex', 'admin', 'form'], function () {
        var $ = layui.$, hex = layui.hex, tableInstance, admin = layui.admin, form = layui.form;
        form.render();

        let modal = (values = {}) => {
            hex.popup("/admin/blockIp/save", [
                {title: "IP地址", name: "ip", type: "input", placeholder: "IP地址"}
            ], res => {
                tableInstance.instance.reload();
            }, values, '400px', '加入黑名单');
        }

        tableInstance = hex.renderTable('system-safety-blockIp-table', '/admin/blockIp/data', '#system-safety-blockIp-table', [[
            {
                type: 'checkbox', fixed: 'left'
            }
            ,
            {
                field: 'ip', title: "IP地址"
            },
            {
                field: 'create_date', title: '封禁时间'
            }
        ]], res => {

        });


        $('#system-safety-blockIp .create').click(() => {
            modal();
        });

        $('#system-safety-blockIp .remove').click(() => {
            hex.popup("/admin/blockIp/remove", [
                {title: "IP地址", name: "ip", type: "input", placeholder: "要解封的IP"}
            ], res => {
                tableInstance.instance.reload();
            }, {}, '400px', '解除黑名单');
        });

        $('#system-safety-blockIp .del').click(() => {
            var data = hex.listObjectToArray(tableInstance.table.checkStatus('system-safety-blockIp-table').data);
            hex.deleteBatchEntity('/admin/blockIp/del', data, res => {
                tableInstance.instance.reload();
            });
        });
    });
</script>