<view id="system-safety-firewall">
    <title>风控管理</title>

    <div class="layui-card layadmin-header">
        <div class="layui-breadcrumb">
            <a lay-href="">风控管理</a>
            <a><cite>IP防火墙</cite></a>
        </div>
    </div>

    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title">
                    <li class="layui-this">所有被封禁的IP</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div style="margin-bottom: 10px;">
                            <button class="layui-btn layui-btn-primary layui-btn-sm create">
                                添加封禁IP
                            </button>
                            <button class="layui-btn layui-btn-primary layui-btn-sm del">
                                解封选中IP
                            </button>

                            <button class="layui-btn layui-btn-primary layui-btn-sm remove">
                                解封指定IP
                            </button>

                            <div class="layui-form layui-inline" style="margin-left: 10px;">
                                <input lay-filter="overseasBanned" type="checkbox" name="overseasBanned" title="禁止海外访问"
                                       value="1">
                            </div>

                        </div>

                        <table id="system-safety-firewall-table" lay-filter="system-safety-firewall-table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</view>


<script>
    layui.use(['hex', 'admin', 'form'], function () {
        var $ = layui.$, hex = layui.hex, tableInstance, admin = layui.admin, form = layui.form;
        form.render();

        let modal = (values = {}) => {
            hex.popup("/admin/firewall/banned", [
                {title: "起始IP", name: "startIp", type: "input", placeholder: "起始IP段"},
                {title: "结束IP", name: "endIp", type: "input", placeholder: "结束IP段"}
            ], res => {
                tableInstance.instance.reload();
            }, values, '400px', '封禁IP');
        }

        tableInstance = hex.renderTable('system-safety-firewall-table', '/admin/firewall/data', '#system-safety-firewall-table', [[
            {
                type: 'checkbox', fixed: 'left'
            }
            , {
                title: '起始IP', templet: function (item) {
                    return item['ip'][0][0] + '.' + item['ip'][0][1] + '.' + item['ip'][0][2] + '.' + item['ip'][0][3];
                }
            }, {
                title: '结束IP', templet: function (item) {
                    return item['ip'][1][0] + '.' + item['ip'][1][1] + '.' + item['ip'][1][2] + '.' + item['ip'][1][3];
                }
            }
        ]], res => {
            $('#system-safety-firewall .edit').click(function () {
                let objectId = hex.getObjectId(this);
                hex.set('systemDictId', objectId);
                hex.remoteViewOpen('module/src/views/system/dictList.html');
            });
            if (res.overseas == true) {
                $('input[name=overseasBanned]').prop('checked', true);
                form.render();
            }
        });


        $('#system-safety-firewall .create').click(() => {
            modal();
        });

        $('#system-safety-firewall .del').click(() => {
            var data = tableInstance.table.checkStatus('system-safety-firewall-table').data;
            data.forEach(item => {
                admin.req({
                    url: "/admin/firewall/remove",
                    method: "POST",
                    data: {index: item.index},
                    done: res => {
                        layer.msg(res.msg);
                        tableInstance.instance.reload();
                    },
                    load: true
                });
            });
        });
        $('#system-safety-firewall .remove').click(() => {
            hex.popup("/admin/firewall/remove", [
                {title: "type", name: "type", type: "hidden", default: 1},
                {title: "IP地址", name: "ip", type: "input", placeholder: "要解封的IP"}
            ], res => {
                tableInstance.instance.reload();
            }, {}, '400px', '解封IP');
        });

        form.on('checkbox(overseasBanned)', function () {
            admin.req({
                url: "/admin/firewall/overseasBanned",
                method: "POST",
                done: res => {
                    layer.msg(res.msg);
                },
                load: true
            });
        });
    });
</script>