<view id="system-pay-plugin">
    <title>支付平台</title>
    
    <div class="layui-card layadmin-header">
        <div class="layui-breadcrumb">
            <a lay-href="">支付管理</a>
            <a><cite>支付平台</cite></a>
        </div>
    </div>
    
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title">
                    <li class="layui-this">所有平台</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div style="margin-bottom: 10px;">
                            <button class="layui-btn layui-btn-primary layui-btn-sm create">
                                新增平台
                            </button>
                            <button class="layui-btn layui-btn-primary layui-btn-sm create-channel">
                                新增通道
                            </button>
                            <button class="layui-btn layui-btn-primary layui-btn-sm del">
                                删除选中
                            </button>
                            <button class="layui-btn layui-btn-primary layui-btn-sm create">
                                导入插件
                            </button>
                        </div>
                        <table id="system-pay-plugin-table" lay-filter="system-pay-plugin-table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</view>

<script>
    layui.use(['hex', 'admin'], function () {
        var $ = layui.$, hex = layui.hex, tableInstance, saveUrl = '/admin/channel/saveChannel', admin = layui.admin;
        
        let modal = (values = {}) => {
            hex.popup(saveUrl, [
                {title: "图标", name: "icon", type: "image", placeholder: "请选择平台图标"},
                {title: "插件名称", name: "name", type: "input", placeholder: "请输入插件名称"},
                {title: "界面配置", name: "interface_config", type: "json", default: [
                    {title: "商户号", name: "merchant_number", type: "input", placeholder: "请输入商户号"},
                    {title: "应用私钥", name: "application_private_key", type: "input", placeholder: "请输入应用私钥"},
                ]},
                {title: "版本号", name: "version", type: "input", placeholder: "1.0.0"},
            ], res => {
                tableInstance.instance.reload();
            }, values, ['1080px', '720px']);
        };
        
        tableInstance = hex.renderTable('system-pay-plugin-table', '/admin/nano/payment/platform/getPlatformList', '#system-pay-plugin-table', [[
            { type: 'checkbox', fixed: 'left' },
            { field: 'icon', title: '图标', dictType: 'image', width: 60 },
            { field: 'name', title: '平台名称', edit: "text", width: 200 },
            { field: 'creation_time', title: '创建时间', width: 200 },
            { field: 'update_time', title: '更新时间', width: 200 },
            { title: '操作', fixed: 'right', templet: function (item) {
                let html = `<button class="layui-btn layui-btn-xs layui-btn-warm edit" data-id="' + item.id + '"><i class="layui-icon layui-icon-fonts-code"></i> 版本管理</button>`;
                html+= `<button class="layui-btn layui-btn-xs edit" data-id="' + item.id + '"><i class="layui-icon layui-icon-template-1"></i> 产品管理</button>`;
                html+= `<button class="layui-btn layui-btn-xs layui-btn-normal edit" data-id="' + item.id + '"><i class="layui-icon layui-icon-survey"></i> 编辑</button>`;
                html+= `<button class="layui-btn layui-btn-xs layui-btn-danger edit" data-id="' + item.id + '"><i class="layui-icon layui-icon-delete"></i> 删除</button>`;
                return html;
            }
            },
        ]], response => {
            $('#system-pay-plugin .edit').click(function () {
                modal(hex.getMapItem(this));
            });
        });

        $('#system-pay-plugin .create').click(() => {
            modal();
        });
        
        let channelModal = (values = {}) => {
            hex.popup('', [
                {title: '通道名称', name: 'name', type: 'input', placeholder: '请输入通道名称'},
                {
                    title: '选择平台',
                    name: 'platform_id',
                    type: 'select',
                    placeholder: '请选择支付平台',
                    dict: [
                        {id: 1, name: '微信支付'},
                        {id: 2, name: '支付宝'},
                    ],
                    dictType: false,
                },
                {
                    title: '选择版本',
                    name: 'version_id',
                    type: 'select',
                    placeholder: '请选择平台版本',
                    dict: [
                        {id: 1, name: '普通商户(V2)'},
                        {id: 2, name: '普通商户(V3)'},
                    ],
                    dictType: false,
                },
                {
                    title: '选择产品',
                    name: 'product_id',
                    type: 'select',
                    placeholder: '请选择平台产品',
                    dict: [
                        {id: 1, name: '当面付'},
                        {id: 2, name: '扫码支付'},
                    ],
                    dictType: false,
                },
                {
                    title: '选择银行',
                    name: 'platform_id',
                    type: 'select',
                    placeholder: '请选择银行',
                    dict: [
                        {id: 'wechat', name: '微信'},
                        {id: 'alipay', name: '支付宝'},
                    ],
                    dictType: false,
                },
            ]);
        };
        
        $('#system-pay-plugin .create-channel').click(() => {
            channelModal();
        });
    });
</script>