<view id="payment-order">
    <title>订单管理</title>

    <div class="layui-card layadmin-header">
        <div class="layui-breadcrumb">
            <a lay-href="">支付管理</a>
            <a><cite>订单管理</cite></a>
        </div>
    </div>

    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title">
                    <li class="layui-this">所有订单</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <form class="query"></form>
                        <table id="payment-order-table"
                               lay-filter="payment-order-table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</view>

<script>
    layui.use(['hex'], function () {
        var $ = layui.$, hex = layui.hex, tableInstance;

        tableInstance = hex.renderTable('payment-order-table', '/admin/api/payment/order/getOrderList', '#payment-order-table', [[
            {field: 'trade_no', title: '系统订单号', width: 220}
            , {field: 'out_trade_no', title: '商户订单号', width: 150}
            , {
                title: '商户号', templet: function (item) {
                    return item?.merchant?.merchant_no;
                }, width: 150
            }
            , {
                title: '应用号', templet: function (item) {
                    return item?.application?.application_no;
                }, width: 150
            }
            , {field: 'subject', title: '商品名称', width: 150}
            , {field: 'amount', title: '订单金额', width: 110}
            , {field: 'actual_amount', title: '实付金额', width: 110}
            , {
                title: '支付通道', templet: function (item) {
                    return item?.channel?.name;
                }, width: 150
            }
            // , {field: 'payer_ip', title: '用户IP', width: 150}
            , {field: 'creation_time', title: '创建时间', width: 165}
            , {field: 'completion_time', title: '完成时间', width: 165}
            , {
                title: '状态', width: 110, templet: function (item) {
                    switch (item.status) {
                        case 0:
                            return `<b style="color: #eb7350">待支付</b>`;
                        case 1:
                            return `<b style="color: #00bd67">已完成</b>`;
                        case 2:
                            return `<b style="color: red">已关闭</b>`;
                        case 3:
                            return `<b style="color: #0000FF">已退款</b>`;
                        default:
                            return undefined;
                    }
                }
            },
        ]], res => {
            hex.setIdMap(res.data);
        });

        hex.query('#payment-order-table .query', tableInstance.instance, [
            {title: "系统订单号", name: "equal-trade_no", type: "input", width: 125},
            {title: "商户订单号", name: "equal-out_trade_no", type: "input", width: 125},
        ], true);
    });
</script>