<view id="system-dashboard-beneficicry">
    <title>码商数据</title>

    <div class="layui-card layadmin-header">
        <div class="layui-breadcrumb">
            <a lay-href="">控制台</a>
            <a><cite>码商数据</cite></a>
        </div>
    </div>

    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-header">码商大数据
            </div>
            <div class="layui-card-body">

                <div class="layadmin-backlog">
                    <div>
                        <ul class="layui-row layui-col-space10">


                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body today_order_success_rate_percentage rate-percentage">
                                    <h3>今日成功率</h3>
                                    <p><cite class="today_order_success_rate" style="color: #07bd03;">...</cite>
                                    </p>
                                </div>
                            </li>

                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>今日收款</h3>
                                    <p><cite class="today_order_success_amount" style="color: #07bd03;">...</cite>
                                    </p>
                                </div>
                            </li>


                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>今日下发</h3>
                                    <p><cite class="today_withdraw_success_amount" style="color: #ffb355;">...</cite>
                                    </p>
                                </div>
                            </li>


                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>今日完成订单</h3>
                                    <p><cite class="today_order_success_count" style="color: #578cbd;">...</cite>
                                    </p>
                                </div>
                            </li>

                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>今日盈利</h3>
                                    <p><cite class="today_order_cost" style="color: #bd5522;">...</cite>
                                    </p>
                                </div>
                            </li>

                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>-</h3>
                                    <p><cite class="today_order_amount" style="color: #07bd03;">...</cite>
                                    </p>
                                </div>
                            </li>

                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body yesterday_order_success_rate_percentage rate-percentage">
                                    <h3>昨日成功率</h3>
                                    <p><cite class="yesterday_order_success_rate" style="color: #07bd03;">...</cite>
                                    </p>
                                </div>
                            </li>


                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>昨日收款</h3>
                                    <p><cite class="yesterday_order_success_amount" style="color: #07bd03;">...</cite>
                                    </p>
                                </div>
                            </li>


                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>昨日下发</h3>
                                    <p><cite class="yesterday_withdraw_success_amount"
                                             style="color: #ffb355;">...</cite>
                                    </p>
                                </div>
                            </li>


                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>昨日完成订单</h3>
                                    <p><cite class="yesterday_order_success_count" style="color: #578cbd;">...</cite>
                                    </p>
                                </div>
                            </li>

                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>昨日盈利</h3>
                                    <p><cite class="yesterday_order_cost" style="color: #bd5522;">...</cite>
                                    </p>
                                </div>
                            </li>

                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>-</h3>
                                    <p><cite class="yesterday_order_amount" style="color: #07bd03;">...</cite>
                                    </p>
                                </div>
                            </li>

                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body all_order_success_rate_percentage rate-percentage">
                                    <h3>总成功率</h3>
                                    <p><cite class="all_order_success_rate" style="color: #07bd03;">...</cite>
                                    </p>
                                </div>
                            </li>


                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>总收款</h3>
                                    <p><cite class="all_order_success_amount" style="color: #07bd03;">...</cite>
                                    </p>
                                </div>
                            </li>


                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>总下发</h3>
                                    <p><cite class="all_withdraw_success_amount" style="color: #ffb355;">...</cite>
                                    </p>
                                </div>
                            </li>


                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>总完成订单</h3>
                                    <p><cite class="all_order_success_count" style="color: #578cbd;">...</cite>
                                    </p>
                                </div>
                            </li>

                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>总盈利</h3>
                                    <p><cite class="all_order_cost" style="color: #bd5522;">...</cite>
                                    </p>
                                </div>
                            </li>

                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>总持有余额</h3>
                                    <p><cite class="all_order_amount" style="color: #07bd03;">...</cite>
                                    </p>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title">
                    <li class="layui-this">所有码商</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <form class="query"></form>

                        <table id="system-dashboard-beneficicry-table"
                               lay-filter="system-dashboard-beneficicry-table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</view>


<script>
    layui.use(['hex', 'admin'], function () {
        var $ = layui.$, admin = layui.admin, hex = layui.hex, tableInstance, saveUrl = '/admin/user/saveUser';

        var appInterface = $('#system-dashboard-beneficicry');


        tableInstance = hex.renderTable('system-dashboard-beneficicry-table', '/admin/dashboard/getBeneficiarys', '#system-dashboard-beneficicry-table', [[
            {
                field: 'user', title: '用户名', templet: function (item) {
                    return '<span style="font-size: 10px;color: red;">[' + item.id + '</span>] <span style="color: green;" class="detail" data-id="' + item.id + '">' + item.user + '</span>';
                }, width: 140
            }
            , {
                field: 'money', title: '持有余额', width: 90, templet: function (item) {
                    return '<b style="color: red;">' + (item.order_all_amount - item.withdraw_all_amount) + '</b>';
                }
            }
            , {
                field: 'order_today_amount', title: '今日收款', width: 90, templet: function (item) {
                    return item.order_today_amount;
                }
            }, {
                field: 'today_withdraw_all_amount', title: '今日下发', width: 90, templet: function (item) {
                    return item.today_withdraw_all_amount;
                }
            }, {
                field: 'today_order_success_count', title: '今日订单', width: 90, templet: function (item) {
                    return item.today_order_success_count + '/' + item.today_order_count;
                }
            }, {
                field: 'today_order_cost', title: '今日盈利', width: 90, templet: function (item) {
                    return item.today_order_cost;
                }
            }, {
                field: 'today_order_success_rate', title: '今日成功率', width: 100, templet: function (item) {
                    return hex.percentageHtml((item.today_order_success_count == 0 ? 0 : item.today_order_success_count / item.today_order_count) * 100);
                }
            }
            , {
                field: 'order_yesterday_amount', title: '昨日收款', width: 90, templet: function (item) {
                    return item.order_yesterday_amount;
                }
            }, {
                field: 'yesterday_withdraw_all_amount', title: '昨日下发', width: 90, templet: function (item) {
                    return item.yesterday_withdraw_all_amount;
                }
            }, {
                field: 'yesterday_order_success_count', title: '昨日订单', width: 90, templet: function (item) {
                    return item.yesterday_order_success_count + '/' + item.yesterday_order_count;
                }
            }
            , {
                field: 'yesterday_order_cost', title: '昨日盈利', width: 90, templet: function (item) {
                    return item.yesterday_order_cost;
                }
            }
            , {
                field: 'yesterday_order_success_rate', title: '昨日成功率', width: 100, templet: function (item) {
                    return hex.percentageHtml((item.yesterday_order_success_count == 0 ? 0 : item.yesterday_order_success_count / item.yesterday_order_count) * 100);
                }
            }, {
                field: 'order_all_amount', title: '总收款', width: 100, templet: function (item) {
                    return item.order_all_amount;
                }
            }, {
                field: 'withdraw_all_amount', title: '总下发', width: 100, templet: function (item) {
                    return item.withdraw_all_amount;
                }
            }, {
                field: 'all_order_success_count', title: '总订单', width: 90, templet: function (item) {
                    return item.all_order_success_count + '/' + item.all_order_count;
                }
            }
            , {
                field: 'all_order_cost', title: '总盈利', width: 90, templet: function (item) {
                    return item.all_order_cost;
                }
            }
            , {
                field: 'all_order_success_rate', title: '总成功率', templet: function (item) {
                    return hex.percentageHtml((item.all_order_success_count == 0 ? 0 : item.all_order_success_count / item.all_order_count) * 100);
                }
            }
        ]], res => {
            let layerTipsIndex = 0;

            appInterface.find(".today_order_success_amount").html(res.today_order_success_amount);
            appInterface.find(".today_order_success_count").html(res.today_order_success_count);
            appInterface.find(".today_order_cost").html(res.today_order_cost);
            appInterface.find(".today_withdraw_success_amount").html(res.today_withdraw_success_amount);
          /*  appInterface.find(".today_order_amount").html(res.today_order_success_amount - res.today_withdraw_success_amount);*/
            let today_order_success_rate = ((res.today_order_success_count == 0 ? 0 : res.today_order_success_count / res.today_order_count) * 100).toFixed(2);
            appInterface.find('.today_order_success_rate_percentage').attr('style', 'background-size: ' + today_order_success_rate + "% 100%");
            appInterface.find('.today_order_success_rate').html(today_order_success_rate + '%');

            appInterface.find(".yesterday_order_success_amount").html(res.yesterday_order_success_amount);
            appInterface.find(".yesterday_order_success_count").html(res.yesterday_order_success_count);
            appInterface.find(".yesterday_order_cost").html(res.yesterday_order_cost);
            appInterface.find(".yesterday_withdraw_success_amount").html(res.yesterday_withdraw_success_amount);
          /*  appInterface.find(".yesterday_order_amount").html(res.yesterday_order_success_amount - res.yesterday_withdraw_success_amount);*/
            let yesterday_order_success_rate = ((res.yesterday_order_success_count == 0 ? 0 : res.yesterday_order_success_count / res.yesterday_order_count) * 100).toFixed(2);
            appInterface.find('.yesterday_order_success_rate_percentage').attr('style', 'background-size: ' + yesterday_order_success_rate + "% 100%");
            appInterface.find('.yesterday_order_success_rate').html(yesterday_order_success_rate + '%');

            appInterface.find(".all_order_success_amount").html(res.all_order_success_amount);
            appInterface.find(".all_order_success_count").html(res.all_order_success_count);
            appInterface.find(".all_order_cost").html(res.all_order_cost);
            appInterface.find(".all_withdraw_success_amount").html(res.all_withdraw_success_amount);
            appInterface.find(".all_order_amount").html(res.all_order_success_amount - res.all_withdraw_success_amount);
            let all_order_success_rate = ((res.all_order_success_count == 0 ? 0 : res.all_order_success_count / res.all_order_count) * 100).toFixed(2);
            appInterface.find('.all_order_success_rate_percentage').attr('style', 'background-size: ' + all_order_success_rate + "% 100%");
            appInterface.find('.all_order_success_rate').html(all_order_success_rate + '%');

        }, saveUrl, null, 10, [10, 15, 20, 30, 50, 60, 80, 100]);


        hex.query('#system-dashboard-beneficicry .query', tableInstance.instance, [
            {title: "选择码商", name: "equal-id", type: "select", dict: "user->type=1,id,user" , cache: false , search: true, width: 151},
            {title: "码商ID", name: "equal-id·user", type: "input", width: 151},
            {title: "用户名", name: "search-user", type: "input", width: 151},
            {title: "用户备注", name: "search-remark", type: "input", width: 151},
        ], true);
    });
</script>