<view id="system-dashboard-oneself">
    <title>自运营数据</title>

    <div class="layui-card layadmin-header">
        <div class="layui-breadcrumb">
            <a lay-href="">控制台</a>
            <a><cite>自运营数据</cite></a>
        </div>
    </div>

    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-header">自运营大数据
            </div>
            <div class="layui-card-body">

                <div class="layadmin-backlog">
                    <div>
                        <ul class="layui-row layui-col-space10">


                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body today_order_success_rate_percentage rate-percentage">
                                    <h3>今日成功率</h3>
                                    <p><cite class="today_order_success_rate" style="color: #07bd03;">...</cite>
                                    </p>
                                </div>
                            </li>

                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>今日收款</h3>
                                    <p><cite class="today_order_success_amount" style="color: #07bd03;">...</cite>
                                    </p>
                                </div>
                            </li>


                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>-</h3>
                                    <p><cite class="" style="color: #07bd03;">...</cite>
                                    </p>
                                </div>
                            </li>


                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>今日完成订单</h3>
                                    <p><cite class="today_order_success_count" style="color: #578cbd;">...</cite>
                                    </p>
                                </div>
                            </li>

                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>今日手续费</h3>
                                    <p><cite class="today_order_cost" style="color: #bd5522;">...</cite>
                                    </p>
                                </div>
                            </li>

                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>-</h3>
                                    <p><cite class="today_balance" style="color: #07bd03;">...</cite>
                                    </p>
                                </div>
                            </li>

                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body yesterday_order_success_rate_percentage rate-percentage">
                                    <h3>昨日成功率</h3>
                                    <p><cite class="yesterday_order_success_rate" style="color: #07bd03;">...</cite>
                                    </p>
                                </div>
                            </li>


                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>昨日收款</h3>
                                    <p><cite class="yesterday_order_success_amount" style="color: #07bd03;">...</cite>
                                    </p>
                                </div>
                            </li>


                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>-</h3>
                                    <p><cite class=""
                                             style="color: #07bd03;">...</cite>
                                    </p>
                                </div>
                            </li>


                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>昨日完成订单</h3>
                                    <p><cite class="yesterday_order_success_count" style="color: #578cbd;">...</cite>
                                    </p>
                                </div>
                            </li>

                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>昨日手续费</h3>
                                    <p><cite class="yesterday_order_cost" style="color: #bd5522;">...</cite>
                                    </p>
                                </div>
                            </li>

                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>-</h3>
                                    <p><cite class="yesterday_balance" style="color: #07bd03;">...</cite>
                                    </p>
                                </div>
                            </li>

                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body all_order_success_rate_percentage rate-percentage">
                                    <h3>总成功率</h3>
                                    <p><cite class="all_order_success_rate" style="color: #07bd03;">...</cite>
                                    </p>
                                </div>
                            </li>


                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>总收款</h3>
                                    <p><cite class="all_order_success_amount" style="color: #07bd03;">...</cite>
                                    </p>
                                </div>
                            </li>


                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>-</h3>
                                    <p><cite class="" style="color: #07bd03;">...</cite>
                                    </p>
                                </div>
                            </li>


                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>总完成订单</h3>
                                    <p><cite class="all_order_success_count" style="color: #578cbd;">...</cite>
                                    </p>
                                </div>
                            </li>

                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>总手续费</h3>
                                    <p><cite class="all_order_cost" style="color: #bd5522;">...</cite>
                                    </p>
                                </div>
                            </li>

                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>自运营总余额</h3>
                                    <p><cite class="all_balance" style="color: #07bd03;">...</cite>
                                    </p>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title">
                    <li class="layui-this">所有自运营</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <form class="query"></form>

                        <table id="system-dashboard-oneself-table"
                               lay-filter="system-dashboard-oneself-table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</view>


<script>
    layui.use(['hex', 'admin'], function () {
        var $ = layui.$, admin = layui.admin, hex = layui.hex, tableInstance;

        var appInterface = $('#system-dashboard-oneself');

        let colorSwitch = (amount) => {
            if (amount > 0) {
                return '<span style="color:green;">' + amount + '</span>';
            }
            return '<span style="color:red;">' + amount + '</span>';
        }


        tableInstance = hex.renderTable('system-dashboard-oneself-table', '/admin/dashboard/getOneself', '#system-dashboard-oneself-table', [[
            {
                field: 'user', title: '用户名', templet: function (item) {
                    return '<span style="font-size: 10px;color: red;">[' + item.id + '</span>] <span style="color: green;" class="detail" data-id="' + item.id + '">' + item.user + '</span>';
                }, width: 160
            }
            , {
                field: 'balance', title: '余额', width: 95, templet: function (item) {
                    return '<b style="color: red;">' + item.money + '</b>';
                }
            }
            , {
                field: 'order_today_amount', title: '今日收款', width: 110, templet: function (item) {
                    return colorSwitch(item.order_today_amount);
                }
            }
            , {
                field: 'order_today_amount', title: '今日手续费', width: 100, templet: function (item) {
                    return colorSwitch(item.today_order_cost);
                }
            }, {
                field: 'today_order_success_count', title: '今日订单', width: 95, templet: function (item) {
                    return item.today_order_success_count + '/' + item.today_order_count;
                }
            }, {
                field: 'today_order_success_rate', title: '今日成功率', width: 100, templet: function (item) {
                    return hex.percentageHtml((item.today_order_success_count == 0 ? 0 : item.today_order_success_count / item.today_order_count) * 100);
                }
            }
            , {
                field: 'order_yesterday_amount', title: '昨日收款', width: 110, templet: function (item) {
                    return colorSwitch(item.order_yesterday_amount);
                }
            }
            , {
                field: 'order_today_amount', title: '昨日手续费', width: 100, templet: function (item) {
                    return colorSwitch(item.yesterday_order_cost);
                }
            }, {
                field: 'yesterday_order_success_count', title: '昨日订单', width: 95, templet: function (item) {
                    return item.yesterday_order_success_count + '/' + item.yesterday_order_count;
                }
            }, {
                field: 'yesterday_order_success_rate', title: '昨日成功率', width: 100, templet: function (item) {
                    return hex.percentageHtml((item.yesterday_order_success_count == 0 ? 0 : item.yesterday_order_success_count / item.yesterday_order_count) * 100);
                }
            }, {
                field: 'order_all_amount', title: '总收款', width: 120, templet: function (item) {
                    return colorSwitch(item.order_all_amount);
                }
            }
            , {
                field: 'order_today_amount', title: '总手续费', width: 110, templet: function (item) {
                    return colorSwitch(item.all_order_cost);
                }
            }, {
                field: 'all_order_success_count', title: '总订单', width: 100, templet: function (item) {
                    return item.all_order_success_count + '/' + item.all_order_count;
                }
            }, {
                field: 'all_order_success_rate', title: '总成功率', width: 90, templet: function (item) {
                    return hex.percentageHtml((item.all_order_success_count == 0 ? 0 : item.all_order_success_count / item.all_order_count) * 100);
                }
            }
            , {
                field: 'agent_id', title: '上级代理', templet: function (item) {
                    if (item.agent_id == null || item.agent == null) {
                        return '-';
                    }
                    return '<span style="color: green;">' + item.agent.user + '</span>'
                }
            }
        ]], res => {
            let layerTipsIndex = 0;

            appInterface.find(".today_order_success_amount").html(res.today_order_success_amount);
            appInterface.find(".today_order_success_count").html(res.today_order_success_count);
            appInterface.find(".today_order_cost").html(res.today_order_cost);
            /*  appInterface.find(".today_balance").html((res.today_order_success_amount - res.today_withdraw_success_amount - res.today_order_cost).toFixed(3));*/
            let today_order_success_rate = ((res.today_order_success_count == 0 ? 0 : res.today_order_success_count / res.today_order_count) * 100).toFixed(2);
            appInterface.find('.today_order_success_rate_percentage').attr('style', 'background-size: ' + today_order_success_rate + "% 100%");
            appInterface.find('.today_order_success_rate').html(today_order_success_rate + '%');

            appInterface.find(".yesterday_order_success_amount").html(res.yesterday_order_success_amount);
            appInterface.find(".yesterday_order_success_count").html(res.yesterday_order_success_count);
            appInterface.find(".yesterday_order_cost").html(res.yesterday_order_cost);
            /*   appInterface.find(".yesterday_balance").html((res.yesterday_order_success_amount - res.yesterday_withdraw_success_amount - res.yesterday_order_cost).toFixed(3));*/
            let yesterday_order_success_rate = ((res.yesterday_order_success_count == 0 ? 0 : res.yesterday_order_success_count / res.yesterday_order_count) * 100).toFixed(2);
            appInterface.find('.yesterday_order_success_rate_percentage').attr('style', 'background-size: ' + yesterday_order_success_rate + "% 100%");
            appInterface.find('.yesterday_order_success_rate').html(yesterday_order_success_rate + '%');

            appInterface.find(".all_order_success_amount").html(res.all_order_success_amount);
            appInterface.find(".all_order_success_count").html(res.all_order_success_count);
            appInterface.find(".all_order_cost").html(res.all_order_cost);
            appInterface.find(".all_balance").html(res.all_balance);
            let all_order_success_rate = ((res.all_order_success_count == 0 ? 0 : res.all_order_success_count / res.all_order_count) * 100).toFixed(2);
            appInterface.find('.all_order_success_rate_percentage').attr('style', 'background-size: ' + all_order_success_rate + "% 100%");
            appInterface.find('.all_order_success_rate').html(all_order_success_rate + '%');

        }, null, null, 10, [10, 15, 20, 30, 50, 60, 80, 100]);


        hex.query('#system-dashboard-oneself .query', tableInstance.instance, [
            {
                title: "选择自运营",
                name: "equal-id",
                type: "select",
                dict: "user->type=2,id,user",
                cache: false,
                search: true,
                width: 151
            },
            {title: "自运营ID", name: "equal-id·user", type: "input", width: 151},
            {title: "用户名", name: "search-user", type: "input", width: 151},
            {title: "用户备注", name: "search-remark", type: "input", width: 151},
            {title: "上级代理", name: "equal-agent_id", type: "remoteSelect", width: 151, dict: "user,id,user"}
        ], true);
    });
</script>