components/
dist/
public/
scripts/
src/
tests/

.*
babel.config.js
package-lock.json
postcss.config.js
prettier.config.js
tsconfig.json
jsconfig.json
vue.config.js
vite.config.ts
indx.html
yarn.lock
components.d.ts
*.map
