<view id="merchant-user-application">
    <title>用户组管理</title>

    <div class="layui-card layadmin-header">
        <div class="layui-breadcrumb">
            <a lay-href="">商户管理</a>
            <a><cite>应用管理</cite></a>
        </div>
    </div>

    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-header">大数据统计
            </div>
            <div class="layui-card-body">
                <div class="layadmin-backlog">
                    <div>
                        <ul class="layui-row layui-col-space10">
                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>全部应用</h3>
                                    <p><cite class="app_all_count" style="color: #07bd03;">...</cite>
                                    </p>
                                </div>
                            </li>

                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>正在运行</h3>
                                    <p><cite class="app_running_count" style="color: #07bd03;">...</cite>
                                    </p>
                                </div>
                            </li>

                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>运行异常</h3>
                                    <p><cite class="app_stop_count" style="color: #df1247;">...</cite>
                                    </p>
                                </div>
                            </li>

                            <li class="layui-col-xs2">
                                <div class="layadmin-backlog-body">
                                    <h3>待审应用</h3>
                                    <p><cite class="app_awaiting_count" style="color: #f5bc2f;">...</cite>
                                    </p>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-card">
            <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title">
                    <li class="layui-this">所有应用</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <form class="query"></form>

                        <div style="margin-bottom: 10px;">
                            <button class="layui-btn layui-btn-primary layui-btn-sm create">
                                创建应用
                            </button>
                            <button class="layui-btn layui-btn-primary layui-btn-sm del">
                                删除选中
                            </button>
                        </div>
                        <table id="merchant-user-application-table"
                               lay-filter="merchant-user-application-table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</view>

<script>
    layui.use(['hex'], function () {
        var $ = layui.$, hex = layui.hex, tableInstance, saveUrl = '/admin/api/merchant/app/saveApp';

        let modal = (values = {}) => {
            hex.popup(saveUrl, [
                {
                    title: "选择商户号",
                    name: "merchant_id",
                    type: "select",
                    dict: 'merchant,id,merchant_no',
                    placeholder: "请输入选择商户号"
                },
                {title: "应用名称", name: "name", type: "input", placeholder: "请输入应用名称"},
                {
                    title: "状态",
                    name: "status",
                    type: "select",
                    dict: "merchant_application_status",
                    placeholder: "请选择应用状态"
                }
            ], res => {
                tableInstance.instance.reload();
            }, values, '800px');
        }

        tableInstance = hex.renderTable('merchant-user-application-table', '/admin/api/merchant/app/getAppList', '#merchant-user-application-table', [[
            {
                type: 'checkbox', fixed: 'left'
            }
            , {
                title: '所属商户号', templet: function (item) {
                    if (item.merchant == null) {
                        return '-';
                    }
                    return '<span>' + item.merchant.merchant_no + '</span>';
                }, width: 160
            }
            , {field: 'name', title: '应用名称', width: 180}
            , {field: 'application_no', title: '应用号', width: 160}
            , {field: 'secret', title: '应用密钥', width: 180}
            , {field: 'order_today_amount', title: '今日收款', width: 100}
            , {field: 'order_yesterday_amount', title: '昨日收款', width: 100}
            , {field: 'order_all_amount', title: '总收款', width: 100}
            , {field: 'creation_time', title: '创建时间'}
            , {
                title: '状态', templet: function (item) {
                    switch (item.status) {
                        case 0:
                            return `<span style="color: #ff0034;">运行异常</span>`;
                        case 1:
                            return `<span style="color: #00bd67;">运行中</span>`;
                        case 2:
                            return `<span style="color: #eb7350;">待审核</span>`
                        default:
                            return `<span>其他类型</span>`;
                    }
                }
            },
            {
                title: '操作',
                width: 200,
                action: [
                    {type: "button", icon: "layui-icon-survey", title: "修改", class: "layui-btn-normal edit"},
                    {type: "button", icon: "layui-icon-refresh", title: "重置密钥", class: "layui-btn reset-key"}
                ]
            }
        ]], res => {
            let appInterface = $('#merchant-user-application');
            appInterface.find('.app_running_count').html(res.ext.app_running_count);
            appInterface.find('.app_stop_count').html(res.ext.app_stop_count);
            appInterface.find('.app_awaiting_count').html(res.ext.app_awaiting_count);
            appInterface.find('.app_all_count').html(res.ext.app_all_count);

            hex.setIdMap(res.data);
            $('#merchant-user-application .edit').click(function () {
                modal(hex.getMapItem(this));
            });

            $('#merchant-user-application .reset-key').click(function () {
                const id = hex.getMapItem(this).id;
                layer.open({
                    type: 0,
                    content: '您在正在重置该应用密钥，确认要重置吗？',
                    icon: 3,
                    title: "温馨提示",
                    btn: ["确认", "取消"],
                    btn1: () => {
                        admin.req({
                            url: "/admin/api/merchant/app/resetKey",
                            method: "post",
                            data: {id: id},
                            success: (response) => {
                                layer.msg(response.message);
                                tableInstance.instance.reload();
                            }
                        });
                    },
                });
            });
        }, saveUrl);

        $('#merchant-user-application .create').click(() => {
            modal();
        });

        $('#merchant-user-application .del').click(() => {
            var data = hex.listObjectToArray(tableInstance.table.checkStatus('merchant-user-application-table').data);
            hex.deleteBatchEntity('/admin/api/merchant/app/deleteApp', data, res => {
                tableInstance.instance.reload();
            });
        });
    });
</script>