<view id="merchant-user-bank">
    <title>实名管理</title>

    <div class="layui-card layadmin-header">
        <div class="layui-breadcrumb">
            <a lay-href="">商户管理</a>
            <a><cite>实名管理</cite></a>
        </div>
    </div>

    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title">
                    <li class="layui-this">所有实名</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <form class="query"></form>

                        <div style="margin-bottom: 10px;">
                            <button class="layui-btn layui-btn-primary layui-btn-sm del">
                                删除选中
                            </button>
                        </div>

                        <table id="merchant-user-bank-table"
                               lay-filter="merchant-user-bank-table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</view>

<script>
    layui.use(['hex'], function () {
        var $ = layui.$, hex = layui.hex, tableInstance, saveUrl = '/admin/api/merchant/identity/saveIdentity';

        tableInstance = hex.renderTable('merchant-user-bank-table', '/admin/api/merchant/identity/getIdentityList', '#merchant-user-bank-table', [[
            {
                type: 'checkbox', fixed: 'left'
            }
            , {
                title: '所属商户号', templet: function (item) {
                    return item.merchant?.merchant_no;
                }
            }
            , {field: 'name', title: '证件姓名'}
            , {field: 'id_card', title: '证件号码'}
            , {
                title: '证件类型', templet: function (item) {
                    switch (item.type) {
                        case 0:
                            return `<span>中国居民身份证</span>`
                        case 1:
                            return `<span>香港永久居民身份证</span>`;
                        case 2:
                            return `<span>澳门永久性居民身份证</span>`;
                        case 3:
                            return `<span>国际护照（包括大陆/台湾/国际）</span>`;
                        default:
                            return `<span>其他类型</span>`;
                    }
                }
            }
            , {field: 'review_time', title: '审核时间'}
            , {field: 'creation_time', title: '创建时间'}
            , {
                title: '状态', templet: function (item) {
                    switch (item.status) {
                        case 0:
                            return `<span style="color: #eb7350;">审核中</span>`
                        case 1:
                            return `<span style="color: #00bd67;">认证成功</span>`;
                        case 2:
                            return `<span style="color: crimson;">认证失败</span>`;
                        default:
                            return `<span>其他类型</span>`;
                    }
                }
            },
        ]], res => {
        }, saveUrl);

        $('#merchant-user-withdraw .del').click(() => {
            var data = hex.listObjectToArray(tableInstance.table.checkStatus('merchant-user-bank-table').data);
            hex.deleteBatchEntity('/admin/api/merchant/identity/deleteIdentity', data, res => {
                tableInstance.instance.reload();
            });
        });
    });
</script>