<view id="merchant-user">
    <title>用户列表</title>

    <div class="layui-card layadmin-header">
        <div class="layui-breadcrumb">
            <a lay-href="">商户管理</a>
            <a><cite>用户列表</cite></a>
        </div>
    </div>

    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title">
                    <li class="layui-this">所有用户</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <form class="query"></form>

                        <div style="margin-bottom: 10px;">
                            <button class="layui-btn layui-btn-primary layui-btn-sm create">
                                新增用户
                            </button>
                            <button class="layui-btn layui-btn-primary layui-btn-sm del">
                                删除选中
                            </button>
                        </div>
                        <table id="merchant-user-table" lay-filter="merchant-user-table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</view>

<script>
    layui.use(['hex'], function () {
        var $ = layui.$, hex = layui.hex, tableInstance, saveUrl = '/admin/api/merchant/saveMerchant';

        let modal = (values = {}) => {
            hex.popup(saveUrl, [
                {title: "手机号码", name: "phone", type: "input", placeholder: "请输入手机号码"},
                {title: "邮箱号码", name: "email", type: "input", placeholder: "请输入邮箱号码"},
                {title: "登录密码", name: "password", type: "input", placeholder: "请输入登录密码"},
                {title: "状态", name: "status", type: "switch", text: "启用"}
            ], res => {
                tableInstance.instance.reload();
            }, values);
        }

        tableInstance = hex.renderTable('merchant-user-table', '/admin/api/merchant/getMerchantList', '#merchant-user-table', [[
            {
                type: 'checkbox', fixed: 'left'
            }
            , {field: 'merchant_no', title: '商户号', width: 160}
            , {field: 'phone', title: '手机号码'}
            , {field: 'email', title: '邮箱号码'}
            , {field: 'balance', title: '账户余额'}
            , {field: 'freeze_balance', title: '冻结金额'}
            , {field: 'creation_time', title: '注册时间'}
            , {
                field: 'status', title: '状态', dictType: "switch", dictText: "启用"
            },
            {
                title: '操作',
                action: [
                    {type: "button", icon: "layui-icon-survey", title: "修改", class: "layui-btn-normal edit"}
                ]
            }
        ]], res => {
            hex.setIdMap(res.data);
            $('#merchant-user .edit').click(function () {
                modal(hex.getMapItem(this));
            });
        }, saveUrl);

        $('#merchant-user .create').click(() => {
            modal();
        });

        $('#merchant-user .del').click(() => {
            var data = hex.listObjectToArray(tableInstance.table.checkStatus('merchant-user-table').data);
            hex.deleteBatchEntity('/admin/api/merchant/deleteMerchant', data, res => {
                tableInstance.instance.reload();
            });
        });

        hex.query('#merchant-user .query', tableInstance.instance, [
            {title: "商户号", name: "equal-merchant_no", type: "input", width: 151},
            {title: "手机号码", name: "equal-phone", type: "input", width: 151},
            {title: "邮箱号码", name: "equal-phone", type: "input", width: 151},
            {title: "注册时间", name: "betweenStart-creation_time", type: "date", width: 170},
            {title: "请选择状态", name: "equal-status", type: "select", width: 170, dict: "system_user_status"},
        ], true);
    });
</script>