<view id="merchant-user-withdraw">
    <title>提现管理</title>

    <div class="layui-card layadmin-header">
        <div class="layui-breadcrumb">
            <a lay-href="">商户管理</a>
            <a><cite>提现管理</cite></a>
        </div>
    </div>

    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title">
                    <li class="layui-this">所有提现</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <form class="query"></form>
                        <table id="merchant-user-withdraw-table"
                               lay-filter="merchant-user-withdraw-table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</view>

<script>
    layui.use(['hex'], function () {
        var $ = layui.$, hex = layui.hex, tableInstance, saveUrl = '/admin/api/merchant/application/saveApplication';

        tableInstance = hex.renderTable('merchant-user-withdraw-table', '/admin/api/merchant/withdraw/getWithdrawList', '#merchant-user-withdraw-table', [[
            {
                type: 'checkbox', fixed: 'left'
            }
            , {field: 'trade_no', title: '流水号', width: 160}
            , {field: 'merchant_id', title: '商户号', width: 160}
            , {field: 'card_id', title: '提现账号', width: 160}
            , {field: 'amount', title: '提现金额'}
            , {field: 'handle_message', title: '处理结果', width: 180}
            , {field: 'creation_time', title: '创建时间'}
            , {field: 'handle_time', title: '处理时间'}
            , {field: 'status', title: '状态'},
            {
                title: '操作',
                action: [
                    {type: "button", icon: "layui-icon-survey", title: "通过", class: "layui-btn-normal edit"}
                ],
            }
        ]], res => {
        }, saveUrl);

        $('#merchant-user-withdraw .del').click(() => {
            var data = hex.listObjectToArray(tableInstance.table.checkStatus('merchant-user-withdraw-table').data);
            hex.deleteBatchEntity('/admin/api/merchant/application/deleteApplication', data, res => {
                tableInstance.instance.reload();
            });
        });
    });
</script>